@import '../../assets/scss/partials/vars';

.quiz-wrap {
    .question-count{
        display: block;
        width: 40px; 
        height: 40px;
        padding: 5px;
        margin: 0 auto;
        border: 2px solid $rethink-blue;
        border-radius: 25px;
        line-height: 2.4;
        color: $rethink-blue;
        font-family: $baseFont;
    }
}

.transition-group{
    display: flex;
    align-items: center;
    justify-content: center;
}

.transition-wrap-enter {
    opacity: 0;
    
    z-index: 2;
  }
  .transition-wrap-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  .transition-wrap-enter-done{
      position: relative;
  }
  .transition-wrap-exit {
    position: absolute;
    opacity: 1;
    z-index:1;
    top: 0;
  }
  .transition-wrap-exit-active {
    opacity: 0;
    transition: opacity 500ms;
  }
  .transition-wrap-exit-done {
    opacity: 0;
     
  }