/* VARS - AGENCY STARTER WEBSITE ===============================
======================================================= */
$white: #FFFFFF;
$black: #000000;

// General
$sitename-dark-grey: rgba(64, 72, 62, 1);
$sitename-peach: rgba(252, 165, 126, 1);

// Age Gate
$sitename-peach: rgba(252, 165, 126, 1);
$sitename-peach-hover: rgba(217, 114, 68, 1);

//Home Page
$sitename-pink: rgba(177, 121, 147, 1);

 
// FONTS ===============================
$baseFont: 'Mont-Bold', sans-serif;
$baseFontRegular: 'Mont-Regular', sans-serif;
//$surveyorFont: 'HCo Surveyor SSm', sans-serif;
$surveyorFont: "Surveyor SSm A", "Surveyor SSm B";

// Container size
// smartphones (portrait view)
$screen-xs: 376px;

// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;

// Small tablets (portrait view)
$screen-md: 768px;

// Tablets and small desktops
$screen-lg: 1024px;

// Large tablets and desktops
$screen-xl: 1200px;

// Super large
$screen-max: 1600px;

